$text-color: #EEEEEE;
$text-color2:#9D9D9D;
$color1: #393E46;
$color2: #222831;
$color3: #D7E9F7;
$color4: #BFD8B8;
//serif for heading
//san serif for text
//font-family: 'Sacramento', cursive;
// font-family: 'Noto Serif', serif;
// font-family: 'Playfair Display', serif;
// font-family: 'Roboto', sans-serif;
$tablet: 1050px;
$mobile: 480px;